docker/.env

mariadb/schemas/*.sql
mariadb/data/*
mariadb/backup/*

mongodb/data/*
mongodb/backup/*
!mongodb/data/mongod.conf

nginx/*
!nginx/nginx.conf

bind9/db.*
bind9/named.conf.access_network
bind9/named.conf.system_network

scratchpad.md