bind9/db.*
bind9/named.conf.access_network
bind9/named.conf.system_network

docker/.env

go/.env
go/.envrc

mariadb/data/*
mariadb/backup/*

mongodb/data/*
mongodb/backup/*
mongodb/init/*
mongodb/create_role.js
mongodb/init/grant_role.js

nginx/*
!nginx/nginx.conf

scratchpad.md